{
  "printWidth": 120,
  "trailingComma": "none",
  "singleQuote": true,
  "semi": false,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "useTabs": true,
  "requireConfig": false,
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": true,
  "endOfLine": "auto"
}