{
  "printWidth": 120,
  "trailingComma": "none",
  "singleQuote": true,
  "semi": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "useTabs": true,
  "requireConfig": false,
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": true,
  "endOfLine": "auto",
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "decorators-legacy"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
